.App {
  text-align: center;
}

.App-header {
  display: flex;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  justify-content: space-between;
  align-items: center;
  background-color: black;

}

.App-header .logo-clean {
  width: 30%;
}

.App {
  margin: 0;
  padding: 2rem 2rem;
}

.logo-miniL {
  width: 10%;
}

.logo-miniR {
  width: 10%;
  float: right;
  transform: rotate(180deg);
}

.logo-miniH {
  width: 10%;
  padding-top: 5rem;

  transform: rotate(30deg);
}

/* @media only screen and (max-width: 600px) {
  .logo-miniH {
    width: 5%;
    padding-top: 2rem;
    transform: rotate(-50deg);
    z-index: 1;
  }
} */

.center {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 4rem;
  color: #55AB41;
  margin-top: 0;
}

[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;

}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input {
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 20rem;
  font-size: 2rem;
}

select {
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 20rem;
  font-size: 2rem;
}

h4 {
  font-size: 2.5rem;
  color: #5cba47ca
}

.App-footer {
  display: flex;
  justify-content: center;
}

.logo-miniT {
  width: 20%;
  text-align: center;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .logo-miniT {
    width: 20%;
    padding-left: 2rem;
    align-items: center;
  }
}

textarea[name=myTextarea] {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.monSubmit {
  padding-top: 5rem;
}