/* appliquer les propriéter css sur tout les éléments de la page */
* {
  /*  faire en sorte que el padding et la bordure soient calculés à l'intérieur du conteneur */
  box-sizing: border-box;
}


/* Les selecteur d'élément html ctrl+k+c après avoir écrit */
/* ajustement de la valeur par defaut du rem face au px pour des calculs simple */
html {
  /* faire en sorte que 1rem= 10px au lieu de 16px */
  font-size: 62.5%;
}


body {
  margin: 0;
  background-color: #3D3D33;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}