/* appliquer les propriéter css sur tout les éléments de la page */
* {
  /*  faire en sorte que el padding et la bordure soient calculés à l'intérieur du conteneur */
  box-sizing: border-box;
}


/* Les selecteur d'élément html ctrl+k+c après avoir écrit */
/* ajustement de la valeur par defaut du rem face au px pour des calculs simple */
html {
  /* faire en sorte que 1rem= 10px au lieu de 16px */
  font-size: 62.5%;
}


body {

    /* la taille par defaut pas 10px mais 16px */
    font-size: 1.6rem;
    background-color: #3D3D33;
    /* Enlever la marge par défaut appliqué par le navigateur */
    margin: 0;
    font-family:'subset'

}